.palette {
  background-color: aquamarine;
}

.colors {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  width: 100%;
  height: calc(100vh - var(--navbar-height));
}

.color_card {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
}

.code_color {
  font-size: 22px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  text-shadow: 4px 3px 3px rgba(0,0,0, 0.3);
  pointer-events: none;
}
.modal_btn {
  margin-top: 15px;
  width: 100%;
  color: #ffffff;
  padding: 10px;
  border-radius: 10px;
  background: #A855F7;
}
.delete_color {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 0 16px 10px;
  background: transparent;
  filter: drop-shadow(0 3px 0.3rem rgba(0,0,0,0.4));
  svg {
    width: 20px;
    height: 20px;
    fill: #ffffff;
  }
}